<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap" rel="stylesheet">
</head>

<body>
  <h1 class="title">Welcome to Flight Tracker</h1>
  <h3>Add a flight, add tickets to a flight, and so much more!</h3>
  <div>
    <a href="/flights" class="links">All Flights</a>
    <a href="/flights/new" class="links">Add a new Flight</a>
  </div>
</body>

</html>