<!DOCTYPE html>
<html>

<head>
  <title>Flight Tracker</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap" rel="stylesheet">
</head>

<body class="background">
  <main>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <h1 class="title">Welcome to Flight Tracker</h1>
    <div>
      <a href="/flights"><button class="flight-submit-home">View All Flights</button></a>
      <a href="/flights/new"><button class="flight-submit-home">Add a new Flight</button></a>
    </div>
    <div>

    </div>
  </main>
</body>

</html>