html, body {
  font: 14px 'Lexend Giga', sans-serif;
  height: 100%;
}

body {
  background-color: lavender;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  padding: 20px;
}

h4 {
  text-align: center;
  font-size: 20px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(194, 194, 218);
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 30%;
}

.current {
  color: white;
}

.title {
  font: 50px 'Lexend Giga', sans-serif;
  text-align: left;
  margin-top: 80px;
}

.links {
  text-decoration: none;
  color: rgb(80, 12, 80);
  margin: 0 10px;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(146, 81, 206);
}

#new-flight-form {
  height: 10vh;
  width: 80vw;
}

.new-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  border: 0.8px solid rgb(238, 237, 237);
  box-shadow: 0px 2px 2px rgb(196, 196, 196);
  background-color: ghostwhite;
  margin-bottom: 20px;
}

.show-container {
  width: 60%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  border: 0.8px solid rgb(238, 237, 237);
  box-shadow: 0px 2px 2px rgb(196, 196, 196);
  background-color: ghostwhite;
  /* margin-bottom: 20px; */
}

.ticket-container {
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  border: 1px solid grey;
}

.card-container {
  width: 60%;
  height: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card {
  width: 100%;
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
}

.card-content {
  padding: 2px;
  margin: 2px;
  background-color: white;
  border-radius: 10px;
  border: 0.8px solid rgb(238, 237, 237);
  box-shadow: 0px 2px 2px rgb(196, 196, 196);
}

table {
  border-collapse: collapse;
}

th {
  font-size: 16px;
}

th,
td {
  border-bottom: 1px solid #cecfd5;
  padding: 10px 25px;
}

tr[data-href] {
  cursor: pointer;
}

tr[data-href]:hover {
  background-color: rgb(196, 196, 252);
}

.no-select {
  cursor: none;
}

.center {
  text-align: center;
}

.main-container {
  width: 100%;
}

.background {
  background: url("https://i.imgur.com/0pBHdYz.jpg") no-repeat center fixed;
  background-size: cover;
} 

.remove-button {
  width: 60px;
  height: 30px;
  font-size: 10px;
  color: white;
  cursor: pointer;
  border-radius: 7px;
  background: red;
}

.ticket-input {
  height: 30px;
  width: 150px;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
}

@media (max-width: 750px) {
  .new-container {
    flex-direction: column;
  }

  #new-flight-form {
    height: 50vh;
    width: 70vw;
  }

  .title {
    font-size: 25px;
  }

  th {
    font-size: 10px;
  }

  th, td {
    padding: 8px 5px;
  }

  .remove-button {
    width: 42px;
    height: 20px;
    font-size: 7px;
  }

  .main-container {
    width: 100%;
  }

  .flights-container {
    font-size: 8px;
  }

  .show-container {
    width: 80%;
  }

  .new-fields {
    font-size: 10px;
  }
}

.new-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.new-ticket-fields {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.flight-submit {
  width: 120px;
  height: 40px;
  font-size: 14px;
  margin-top: 5px;
  color: white;
  cursor: pointer;
  border-radius: 7px;
  background: linear-gradient(90deg, rgba(230,28,77,1) 0%, rgba(215,3,102,1) 38%);
}

.flight-submit-home {
  width: 180px;
  height: 60px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  border-radius: 7px;
  background: linear-gradient(90deg, rgba(230,28,77,1) 0%, rgba(215,3,102,1) 38%);
  outline: none;
}

.flight-submit-home:hover {
  background-color: linear-gradient(rgb(179, 122, 149) 0%, rgb(230, 70, 110) 38%);
}

.new-choices {
  margin: 2px;
  padding: 2px;
}

.all-flights-link {
  text-decoration: none;
  text-align: left;
  font-size: 15px;
  margin-top: 50px;
}

.footer {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  padding: 20px;
  background-color: rgb(194, 194, 218);
  width: 100%;
}